{% extends 'base.html.twig' %}

{% block title %}
	SymRecipe - Connexion
{% endblock %}

{% block body %}
	<section class="py-5" id="features">
		<div class="container px-5 my-4">
			<div class="row gx-5">
				<div class="col-lg-4 mb-5 mb-lg-0">
					{% include "pages/partials/_menu.html.twig" %}
				</div>
				<div class="col-lg-8 mb-5 mb-lg-0">
					{% for message in app.flashes('success') %}
						<div class="alert alert-success">
							{{ message }}
						</div>
					{% endfor %}
					<div class="row">
						{% for category in categories %}
							<div class="col-sm-4 mb-2">
								<div class="card text-center">
									<div class="card-header">
										<strong>{{ category.name }}</strong>
									</div>
									<div class="card-body">
										<p class="card-text">{{ category.description }}</p>
										<a href="{{ path('category_edit', {'id': category.id}) }}" class="btn btn-outline-primary btn-sm">
											<i class="bi bi-pencil-square"></i>
										</a>
										<a href="{{ path('category_delete', {'id': category.id}) }}" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cet élément ?');" class="btn btn-outline-danger btn-sm">
											<i class="bi bi-trash"></i>
										</a>
									</div>
								</div>
							</div>
						{% else %}
							no records found
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
{% block footer %}{% endblock %}
