{% extends 'base.html.twig' %}

{% block title %}
	SymRecipe - Connexion
{% endblock %}

{% block body %}
	<section class="vh-100">
		<div class="container-fluid h-custom">
			<div class="row d-flex justify-content-center align-items-center h-100">
				<div class="col-md-9 col-lg-6 col-xl-5">
					<img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp" class="img-fluid" alt="Sample image">
				</div>
				<div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
					<form name="registration" method="post">
						<div class="form-outline mb-4">
							<label class="form-label" for="typeText">Nom et prénom</label>
							{{ form_widget(form.fullName) }}
							<div class="form-error text-danger">
								{{ form_errors(form.fullName) }}
							</div>
						</div>

						<div class="form-outline mb-4">
							<label class="form-label" for="typeText">Pseudo (Facultatif)</label>
							{{ form_widget(form.pseudo) }}
							<div class="form-error text-danger">
								{{ form_errors(form.pseudo) }}
							</div>
						</div>

						<div class="form-outline mb-4">
							<label class="form-label" for="typeText">Adresse email</label>
							{{ form_widget(form.email) }}
							<div class="form-error text-danger">
								{{ form_errors(form.email) }}
							</div>
						</div>

						<div class="form-outline mb-4">
							<label class="form-label" for="typeText">Mot de passe</label>
							{{ form_widget(form.plainPassword.first) }}
							<div class="form-error text-danger">
								{{ form_errors(form.plainPassword.first) }}
							</div>
						</div>

						<div class="form-outline mb-4">
							<label class="form-label" for="typeText">Confirmation du mot de passe</label>
							{{ form_widget(form.plainPassword.second) }}
							<div class="form-error text-danger">
								{{ form_errors(form.plainPassword.second) }}
							</div>
						</div>

						{{ form_row(form._token) }}
						<div class="d-grid gap-2">
							<button type="submit" id="registration_submit" name="registration[submit]" class="btn btn-primary mt-4" label="Mot de passe">S'inscrire</button>
						</div>
					</form>
					<div class="divider d-flex align-items-center my-4">
						<p class="text-center fw-bold mx-3 mb-0">OU</p>
					</div>
					<div class="d-grid gap-2">
						<a class="btn btn-primary active" href="#!" role="button">
							<i class="bi bi-facebook me-2"></i>Continuer avec Facebook
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
{% block footer %}{% endblock %}
