{% extends 'base.html.twig' %}

{% block title %}
	SymRecipe - Connexion
{% endblock %}

{% block body %}
	<section class="py-5">
		<div class="container my-4">
			<div class="row">
				<div class="col-lg-7 my-5">
					<img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp" class="img-fluid" alt="Sample image">
				</div>
				<div class="col-lg-5">
					<form name="registration" method="post">
						<div class="form-outline mb-4">
							<label class="form-label" for="typeText">Nom et prénom</label>
							{{ form_widget(form.fullName) }}
							<div class="form-error text-danger">
								{{ form_errors(form.fullName) }}
							</div>
						</div>

						<div class="form-outline mb-4">
							<label class="form-label" for="typeText">Pseudo (Facultatif)</label>
							{{ form_widget(form.pseudo) }}
							<div class="form-error text-danger">
								{{ form_errors(form.pseudo) }}
							</div>
						</div>

						<div class="form-outline mb-4">
							<label class="form-label" for="typeText">Adresse email</label>
							{{ form_widget(form.email) }}
							<div class="form-error text-danger">
								{{ form_errors(form.email) }}
							</div>
						</div>

						<div class="form-outline mb-4">
							<label class="form-label" for="typeText">Mot de passe</label>
							{{ form_widget(form.plainPassword.first) }}
							<div class="form-error text-danger">
								{{ form_errors(form.plainPassword.first) }}
							</div>
						</div>

						<div class="form-outline">
							<label class="form-label" for="typeText">Confirmation du mot de passe</label>
							{{ form_widget(form.plainPassword.second) }}
							<div class="form-error text-danger">
								{{ form_errors(form.plainPassword.second) }}
							</div>
						</div>

						{{ form_row(form._token) }}
						<div class="d-flex justify-content-around align-items-center">
							<button type="submit" id="registration_submit" name="registration[submit]" class="btn btn-primary mt-4" label="Mot de passe">S'inscrire</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>
{% endblock %}

