{% extends 'base.html.twig' %}

{% block title %}
	SymRecipe - Connexion
{% endblock %}

{% block body %}
	<section class="vh-100">
		<div class="container-fluid h-custom">
			<div class="row d-flex justify-content-center align-items-center h-100">
				<div class="col-md-9 col-lg-6 col-xl-5">
					<img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp" class="img-fluid" alt="Sample image">
				</div>
				<div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
					<form name="registration" method="post">
						<div class="form-outline mb-4">
							{{ form_widget(form.fullName) }}
							<label class="form-label" for="typeText">Nom et prénom</label>
							<div class="form-error">
								{{ form_errors(form.fullName) }}
							</div>
						</div>

						<div class="form-outline mb-4">
							{{ form_widget(form.pseudo) }}
							<label class="form-label" for="typeText">Pseudo (Facultatif)</label>
							<div class="form-error">
								{{ form_errors(form.pseudo) }}
							</div>
						</div>

						<div class="form-outline mb-4">
							{{ form_widget(form.email) }}
							<label class="form-label" for="typeText">Adresse email</label>
							<div class="form-error">
								{{ form_errors(form.email) }}
							</div>
						</div>

						<div class="form-outline mb-4">
							{{ form_widget(form.plainPassword.first) }}
							<label class="form-label" for="typeText">Mot de passe</label>
							<div class="form-error">
								{{ form_errors(form.plainPassword.first) }}
							</div>
						</div>

						<div class="form-outline mb-4">
							{{ form_widget(form.plainPassword.second) }}
							<label class="form-label" for="typeText">Confirmation du mot de passe</label>
							<div class="form-error">
								{{ form_errors(form.plainPassword.second) }}
							</div>
						</div>

						{{ form_row(form._token) }}
						<button type="submit" id="registration_submit" name="registration[submit]" class="btn btn-primary btn-lg btn-block mt-4" label="Mot de passe">S'inscrire</button>
					</form>
					<div class="divider d-flex align-items-center my-4">
						<p class="text-center fw-bold mx-3 mb-0 text-muted">OU</p>
					</div>
					<a class="btn btn-primary btn-lg btn-block" style="background-color: #3b5998" href="#!" role="button">
						<i class="fab fa-facebook-f me-2"></i>Continuer avec Facebook
					</a>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
{% block footer %}{% endblock %}
